# https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

# Most common source file types
[*.{js,xml,less,html}]
charset = utf-8
indent_style = space
indent_size = 2

[*.{xml,conf,html,sh}]
indent_size = 4

